.footer{
  background-color: #000;
  // clear: both;
  // position: relative;
  // height: 200px;
  // margin-top: -200px;
}

.copyright {
  color: #000;
  text-align: center;
}

.icons {
  height: 3%;
  width: 3%;
  padding-right: 5px;
}