#container {
    width: 50%;
    margin: 1% auto;
    background-color:whitesmoke;
}
#user{
    margin-left: 20%;
}
#logo {
    width: 60px;
    height: 60px;
    position:absolute;
}
#title{
    margin-left: 12%;
}
#ubi{
    margin-left: 12%;
}