#container {
    width: 50%;
    margin: 1% auto;
    background-color:whitesmoke;
}
#user{
    margin-left: 15%;
}
#logo {
    width: 65px;
    height: 65px;
    position:absolute;
}
#title{
    margin-left: 13%;
}
#ubi{
    margin-left: 13%;
}