.account-bar {
  background-color: black;
  .account-info{
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}

.logo {
  width: 4vw;
  min-width: 50px;
  pointer-events: none;
}
